.u-section-1 {background-image: url("images/bn14.jpg")}
.u-section-1 .u-sheet-1 {min-height: 836px}
.u-section-1 .u-group-1 {width: 636px; min-height: 458px; margin: 134px auto 60px}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-image-1 {width: 308px; height: 308px; margin: 0 auto 0 144px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 689px}
.u-section-1 .u-group-1 {width: 496px; min-height: 422px}
.u-section-1 .u-container-layout-1 {padding-left: 16px}
.u-section-1 .u-image-1 {margin-left: 78px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 528px}
.u-section-1 .u-group-1 {width: 497px; min-height: 443px}
.u-section-1 .u-container-layout-1 {padding-left: 10px}
.u-section-1 .u-image-1 {margin-top: 208px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 396px}
.u-section-1 .u-group-1 {width: 466px; min-height: 516px}
.u-section-1 .u-container-layout-1 {padding-left: 5px}
.u-section-1 .u-image-1 {margin-top: 93px; margin-left: 74px} }

@media (max-width: 575px){ .u-section-1 {background-position: 51.96% 0%}
.u-section-1 .u-sheet-1 {min-height: 758px}
.u-section-1 .u-group-1 {min-height: 442px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 2px}
.u-section-1 .u-image-1 {margin-top: 0; margin-left: auto} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 874px}
.u-section-2 .u-layout-wrap-1 {margin: -149px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 676px; background-image: none}
.u-section-2 .u-container-layout-1 {padding-left: 20px}
.u-section-2 .u-text-1 {font-weight: normal; text-transform: none; margin: 35px 20px 0 0}
.u-section-2 .u-text-2 {margin: 32px 126px 0 8px}
.u-section-2 .u-image-1 {width: 215px; height: 215px; margin: 30px auto 0 8px}
.u-section-2 .u-image-2 {width: 204px; height: 260px; margin: -234px 66px 0 auto}
.u-section-2 .u-layout-cell-2 {min-height: 676px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-image-3 {width: 135px; height: 131px; margin: 210px auto 0 193px}
.u-section-2 .u-text-3 {font-weight: normal; text-transform: none; margin: 11px 20px 0 0}
.u-section-2 .u-text-4 {margin: 22px 41px 0 47px}
.u-section-2 .u-image-4 {min-height: 554px; background-image: url("images/bn12.jpg")}
.u-section-2 .u-layout-cell-4 {min-height: 554px; background-image: none}
.u-section-2 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-image-5 {width: 107px; height: 110px; margin: 0 auto}
.u-section-2 .u-text-5 {text-transform: none; font-weight: normal; margin: 18px -1px 0}
.u-section-2 .u-text-6 {margin: 0 -1px}
.u-section-2 .u-image-6 {background-image: url("images/bn3.jpg"); min-height: 554px; background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 877px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 626px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-1 {font-weight: 400; text-transform: uppercase; margin-right: 16px}
.u-section-2 .u-text-2 {margin-top: 16px; margin-left: 24px; margin-right: 24px}
.u-section-2 .u-image-1 {margin-top: 46px; margin-left: 0}
.u-section-2 .u-image-2 {height: 259px; margin-top: -237px; margin-right: 0}
.u-section-2 .u-layout-cell-2 {min-height: 626px}
.u-section-2 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-image-3 {margin-top: 158px; margin-left: auto}
.u-section-2 .u-text-3 {font-weight: 400; text-transform: uppercase; margin-top: 0; margin-left: 8px; margin-right: 8px}
.u-section-2 .u-text-4 {margin-top: 30px; margin-left: 37px; margin-right: 37px}
.u-section-2 .u-image-4 {min-height: 359px; background-position: 50% 50%}
.u-section-2 .u-layout-cell-4 {min-height: 359px; background-position: 50% 50%}
.u-section-2 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-image-5 {margin-top: -40px}
.u-section-2 .u-text-5 {position: relative; text-transform: uppercase; font-weight: 400; margin-left: 0; margin-right: 0}
.u-section-2 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-2 .u-image-6 {min-height: 359px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 680px}
.u-section-2 .u-layout-cell-1 {min-height: 408px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {margin-right: 10px}
.u-section-2 .u-text-2 {position: relative; margin-left: 0; margin-right: 70px}
.u-section-2 .u-layout-cell-2 {min-height: 408px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {margin-top: 0; margin-left: 193px}
.u-section-2 .u-text-3 {position: relative; margin-top: -25px; margin-right: 10px; margin-left: 0}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 46px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-2 .u-layout-cell-1 {min-height: 538px}
.u-section-2 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-text-1 {margin-right: 5px}
.u-section-2 .u-text-2 {margin-right: 33px}
.u-section-2 .u-layout-cell-2 {min-height: 278px}
.u-section-2 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-image-3 {margin-top: -81px}
.u-section-2 .u-text-3 {margin-top: 0; margin-right: 5px}
.u-section-2 .u-text-4 {margin-left: 11px; margin-right: 11px}
.u-section-2 .u-container-layout-4 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1784px}
.u-section-2 .u-layout-wrap-1 {margin-top: 26px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 614px}
.u-section-2 .u-container-layout-1 {padding-left: 6px; padding-right: 1px}
.u-section-2 .u-text-1 {margin-left: 3px; margin-right: 3px}
.u-section-2 .u-text-2 {margin-left: 20px; margin-right: 20px}
.u-section-2 .u-image-1 {width: 149px; height: 149px; margin-top: 35px; margin-left: 11px}
.u-section-2 .u-image-2 {width: 132px; height: 167px; margin-top: -154px; margin-right: auto; margin-left: 185px}
.u-section-2 .u-layout-cell-2 {min-height: 408px}
.u-section-2 .u-container-layout-2 {padding-left: 6px; padding-right: 1px}
.u-section-2 .u-image-3 {margin-top: 49px; margin-left: auto}
.u-section-2 .u-text-3 {margin-left: 3px; margin-right: 3px}
.u-section-2 .u-text-4 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-container-layout-4 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-image-5 {margin-top: 0}
.u-section-2 .u-text-5 {font-weight: 700; margin-top: 0}
.u-section-2 .u-text-6 {margin-top: -4px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 1048px}
.u-section-3 .u-layout-wrap-1 {width: 1130px; margin: 80px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 416px}
.u-section-3 .u-layout-cell-2 {min-height: 416px}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {text-transform: none; font-weight: normal; margin: 30px 0 0}
.u-section-3 .u-text-2 {margin: 20px 0 30px}
.u-section-3 .u-image-1 {min-height: 416px; background-image: url("images/bn20.jpg")}
.u-section-3 .u-image-2 {background-image: url("images/bn21.jpg"); min-height: 416px; background-position: 50% 50%}
.u-section-3 .u-layout-cell-5 {min-height: 416px; background-image: none}
.u-section-3 .u-container-layout-5 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-3 {text-transform: none; font-weight: normal; margin: 30px 0 0}
.u-section-3 .u-text-4 {margin: 20px 0 0}
.u-section-3 .u-image-3 {width: 420px; height: 511px; margin: -937px auto 60px 59px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {width: 932px}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {position: relative; text-transform: uppercase; font-weight: 400}
.u-section-3 .u-text-2 {position: relative; font-size: 1rem}
.u-section-3 .u-image-1 {background-position: 50% 50%}
.u-section-3 .u-container-layout-5 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-3 {text-transform: uppercase; font-weight: 400}
.u-section-3 .u-text-4 {position: relative; font-size: 1rem}
.u-section-3 .u-image-3 {width: 346px; height: 421px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1485px}
.u-section-3 .u-layout-wrap-1 {width: 714px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-3 {margin-top: 0}
.u-section-3 .u-image-3 {width: 347px; height: 557px; margin-top: -1071px; margin-left: 13px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 2202px}
.u-section-3 .u-layout-wrap-1 {margin-top: 20px; width: 540px}
.u-section-3 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-3 .u-container-layout-5 {padding-left: 5px; padding-right: 5px}
.u-section-3 .u-image-3 {width: 393px; height: 454px; margin-top: -2070px; margin-left: auto} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 2171px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-3 .u-text-2 {font-size: 1.5rem}
.u-section-3 .u-container-layout-5 {padding-left: 1px; padding-right: 1px}
.u-section-3 .u-text-4 {font-size: 1.5rem}
.u-section-3 .u-image-3 {width: 340px; height: 340px; margin-top: -2008px; margin-left: 1px} }.u-section-4 {background-image: url("images/1187815879-0.jpeg"); background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 616px}
.u-section-4 .u-layout-wrap-1 {margin: 234px auto 56px 0}
.u-section-4 .u-layout-cell-1 {min-height: 326px}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-1 {background-image: none; font-size: 1.875rem; text-transform: none; font-weight: normal; margin: 0}
.u-section-4 .u-layout-cell-2 {min-height: 326px}
.u-section-4 .u-container-layout-2 {padding-left: 239px; padding-right: 20px} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {position: relative; font-weight: 400}
.u-section-4 .u-container-layout-2 {padding-left: 197px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-4 {background-position: 83.22000122070313% 50%}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-layout-cell-2 {min-height: 206px}
.u-section-4 .u-container-layout-2 {padding-left: 124px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-4 {background-position: 0% 50%}
.u-section-4 .u-sheet-1 {min-height: 638px}
.u-section-4 .u-layout-wrap-1 {margin-top: 235px; margin-bottom: 65px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 114px}
.u-section-4 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-4 .u-text-1 {animation-duration: 1000ms; margin-top: 20px}
.u-section-4 .u-layout-cell-2 {min-height: 309px}
.u-section-4 .u-container-layout-2 {padding-left: 239px; padding-right: 12px} }

@media (max-width: 575px){ .u-section-4 {background-position: 31.82% 50%}
.u-section-4 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-4 .u-layout-cell-2 {min-height: 195px}
.u-section-4 .u-container-layout-2 {padding-left: 71px; padding-right: 4px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 100vh}
.u-section-5 .u-layout-wrap-1 {width: 1129px; margin: 120px auto 71px 0}
.u-section-5 .u-layout-cell-1 {min-height: 409px}
.u-section-5 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-5 .u-image-1 {width: 85px; height: 48px; margin: 40px 36px 0 auto}
.u-section-5 .u-text-1 {font-weight: normal; text-transform: none; margin: 20px -12px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 408px; background-image: none}
.u-section-5 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-layout-cell-3 {min-height: 817px}
.u-section-5 .u-image-2 {height: 483px; margin: -75px auto 0 0}
.u-section-5 .u-text-2 {font-weight: normal; text-transform: none; margin: 116px 20px 0}
.u-section-5 .u-image-3 {background-image: url("images/bn18.jpg"); min-height: 407px; background-position: 50% 50%}
.u-section-5 .u-layout-cell-5 {min-height: 408px}
.u-section-5 .u-image-4 {height: 281px; object-position: 14.640000343322754% 50%; background-position: 14.640000343322754% 50%; margin: 172px auto -64px 0}
.u-section-5 .u-image-5 {background-image: url("images/bn4.jpg"); min-height: 408px; background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-5 .u-layout-wrap-1 {width: 931px}
.u-section-5 .u-layout-cell-1 {min-height: 408px}
.u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-1 {font-weight: 400; text-transform: uppercase; margin-right: 0}
.u-section-5 .u-layout-cell-3 {min-height: 815px}
.u-section-5 .u-image-2 {height: 398px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {font-weight: 400; text-transform: uppercase; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-image-4 {height: 232px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 .u-layout-wrap-1 {width: 713px}
.u-section-5 .u-layout-cell-1 {min-height: 345px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 218px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-3 {min-height: 563px}
.u-section-5 .u-image-2 {height: 385px; object-position: 50% 42.93000030517578%; background-position: 50% 42.93000030517578%; margin-top: -155px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-2 {margin-left: 10px; margin-right: 10px; margin-bottom: 55px}
.u-section-5 .u-image-4 {height: 177px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 2349px}
.u-section-5 .u-layout-wrap-1 {width: 540px; margin-top: 43px}
.u-section-5 .u-layout-cell-1 {min-height: 250px}
.u-section-5 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-5 .u-image-1 {margin-top: 67px; margin-right: auto}
.u-section-5 .u-text-1 {margin-top: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-5 .u-image-2 {height: 292px; width: 334px; margin-top: -86px; margin-right: 0; margin-left: auto}
.u-section-5 .u-text-2 {margin-top: 78px; margin-left: 5px; margin-right: 5px}
.u-section-5 .u-image-4 {height: 403px; width: 322px; margin: -64px auto 49px}
.u-section-5 .u-image-5 {background-position: 50% 72.69000244140625%} }

@media (max-width: 575px){ .u-section-5 .u-layout-wrap-1 {width: 340px}
.u-section-5 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-5 .u-image-1 {margin-top: 0}
.u-section-5 .u-text-1 {margin-top: 18px}
.u-section-5 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-5 .u-layout-cell-3 {min-height: 671px}
.u-section-5 .u-image-2 {object-position: 50% 42.93%; width: 259px; background-position: 50% 42.93%; margin-top: -43px; margin-right: auto}
.u-section-5 .u-text-2 {margin-left: 1px; margin-right: 1px; margin-bottom: -43px}
.u-section-5 .u-image-4 {height: 340px; object-position: 14.64% 50%; background-position: 14.64% 50%; margin-top: -32px; margin-bottom: -32px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 598px}
.u-section-6 .u-layout-wrap-1 {width: 1129px; margin: 116px auto 60px 0}
.u-section-6 .u-layout-cell-1 {min-height: 386px}
.u-section-6 .u-container-layout-1 {padding-left: 20px}
.u-section-6 .u-text-1 {text-transform: uppercase; font-weight: 400; font-size: 1.875rem; margin: 44px -25px 0 -20px}
.u-section-6 .u-line-1 {width: 50px; height: 3px; margin: 11px auto 0 0}
.u-section-6 .u-image-1 {min-height: 386px; background-image: url("images/bn16.jpg"); background-position: 46.82% 62.92%; background-size: auto 125%}
.u-section-6 .u-layout-cell-3 {min-height: 387px}
.u-section-6 .u-image-2 {height: 379px; margin: -56px auto 35px 0}
.u-section-6 .u-layout-cell-4 {min-height: 387px}
.u-section-6 .u-container-layout-4 {padding-left: 20px}
.u-section-6 .u-text-2 {font-size: 1.5rem; margin: 0 10px} 

@media (max-width: 1199px){ .u-section-6 .u-layout-wrap-1 {width: 931px}
.u-section-6 .u-layout-cell-1 {min-height: 387px}
.u-section-6 .u-container-layout-1 {padding-left: 16px}
.u-section-6 .u-text-1 {width: auto; margin-right: -73px; margin-left: 0; position: relative}
.u-section-6 .u-line-1 {width: 82px; margin-bottom: 35px}
.u-section-6 .u-image-1 {min-height: 387px; background-position: 50% 50%}
.u-section-6 .u-layout-cell-3 {background-position: 50% 50%}
.u-section-6 .u-image-2 {height: 313px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-6 .u-text-2 {position: relative; margin-right: 16px; margin-left: 0} }

@media (max-width: 991px){ .u-section-6 .u-layout-wrap-1 {width: 713px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {margin-right: -46px; width: 372px}
.u-section-6 .u-line-1 {width: 63px}
.u-section-6 .u-image-2 {height: 505px; margin-top: -138px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-2 {margin-right: 10px} }

@media (max-width: 767px){ .u-section-6 .u-layout-wrap-1 {width: 540px}
.u-section-6 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-6 .u-text-1 {width: 348px; margin-right: -22px}
.u-section-6 .u-line-1 {width: 59px}
.u-section-6 .u-image-2 {width: 463px; margin-right: auto; margin-left: 0}
.u-section-6 .u-container-layout-4 {padding-left: 5px; padding-right: 5px}
.u-section-6 .u-text-2 {margin-right: 5px} }

@media (max-width: 575px){ .u-section-6 .u-layout-wrap-1 {width: 340px}
.u-section-6 .u-layout-cell-1 {min-height: 209px}
.u-section-6 .u-container-layout-1 {padding-left: 6px; padding-right: 1px}
.u-section-6 .u-text-1 {width: auto; font-size: 1.5rem; margin-top: 25px; margin-right: -13px; margin-left: 6px}
.u-section-6 .u-line-1 {width: 50px; height: 20px; margin-top: 33px; margin-bottom: 0; margin-left: 139px}
.u-section-6 .u-image-1 {min-height: 430px; background-position: 45.28% 52.83%}
.u-section-6 .u-layout-cell-3 {min-height: 386px}
.u-section-6 .u-image-2 {height: 188px; width: 340px; object-position: 50% 45.07%; margin-top: 74px; margin-right: -6px; margin-left: 6px}
.u-section-6 .u-container-layout-4 {padding: 0 0 155px 6px}
.u-section-6 .u-text-2 {margin-left: 3px; margin-right: 3px} }