/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');



:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
  overflow-x: hidden;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}


.home {
  min-height: 100vh;
}

.home .marca {
  height: 90vh;
  padding: 3rem;
  background-size: cover;
}


.imgs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	padding: 4rem;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}


@media (max-width: 750px){
	.logo{
		height: 18em;
	}
	.cert {
		height: 7em;
		margin-bottom: 1rem;
	}
}

.PhotoApp{
  max-width: 960px !important;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}

.label input{
  height: 0;
  width: 0;
  opacity: 0;
}

.label{
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

.label:hover{
  background: var(--primary);
  color: white;
} */

.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var 
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  min-height: 100vh;
}
.img-wrap{
  overflow: hidden;
  height: 0 ;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%; 
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  contain:size;
  -webkit-mask-size: contain;
  cursor: pointer;
}

/* modal styles */
.backdrop{
  position: fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-top: 60px;
  -webkit-box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
          box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

.backdrop p {
  display: block;
  width: 400px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto; 
  text-align: center;
  background-color: antiquewhite;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 3px solid white;
}

.bottom-buttons{
  color: whitesmoke !important;
}



@media (max-width: 700px) {
  .img-grid {
    display: block !important;
  }
  .img-wrap{
    margin: 1rem;
  }
  .backdrop img {
    max-width: 300px;
    max-height: 300px;
    margin: 20vh auto;
    margin-bottom: 0;
  }
  .backdrop p {
    width: 300px;
  }
}